@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:  all .3s ease;
    font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
    width:3px;
  }
  ::-webkit-scrollbar-track {
    background:#111; 
  }
  ::-webkit-scrollbar-thumb {
    background:#72b626; 
  }
  
#BGM{
  
    background: #252525;
    width: 100%;
    height: 50vh;
    animation: ani .7s forwards ;
position: fixed;
z-index: 9999;
transform: translateY(-200%);
}
@keyframes ani {
    0%{
        transform: translateY(-100%);
        height: 100vh;
    }
    50%{
        transform: translateY(5%);
        height: 100vh;
    }
    100%{
        transform: translateY(120%);
        height: 100vh;
    }
    
}
@keyframes anii {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .88888;
    }
    75%{
        opacity: .9;
    }

    100%{
opacity: 1;
    }
   
    
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 800;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: #111;
}
section{
    animation: anii 2.1s forwards ;

}
.typethis{
    display: flex;
}

.typed-cursor{
    color: #72b626;
}

header{
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}
.icon-menu .icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    cursor: pointer;
    
}

.icon-menu .active{
    background-color: #72b626;
    color: white;
}
.icon-menu .icon-box:hover{
    background: #72b626
}
.icon-box a i {
    position: absolute;
    color: #ddd;;

}
.icon-menu a{
    color: white;
}

    header .icon-menu i {
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        top: 15px;
    text-align: center;
    

}
header .icon-box:hover h2{

    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
    background:#72b626;
}
header .icon-box h2 {
    font-size: 15px;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
}
.main{
display: flex;
align-items: center;
min-height: 100%;
}
body .color-block {
    position: fixed;
    height: 200%;
    width: 100%;
    background: #72b626;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}
body .bg {
    background-image: url(imgs/imgg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100vh - 80px);
    z-index: 111;
    border-radius: 30px;
    left: 40px;
    top: 40px;
    box-shadow: 0 0 7px rgba(0,0,0,.9);
    position: fixed;
    max-width: 33.33333%;
    width: 36%;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.text-content{
    text-align: left;
    margin-left: 33.3333%;
    max-width: 66.666667%;
    width: 100%;
}

.text-content img{
    display: none;
}
.text-content  div{
    max-width: 600px;
    margin:  auto;
}

.text-content div h1{
    font-size: 38px;
    font-weight: 700;
    /* margin: 18px 0 10px; */
    position: relative;
    padding-left: 70px;
    color: #72b626;
    text-transform: uppercase;
font-family: sans-serif;}
.text-content h2{
    color: #fff;
    font-weight: 700; 
    font-size: 40px;
    /* text-transform: uppercase; */
   
 } 
 .text-content .context{
    color:#72b626;
    /* text-transform: uppercase; */
    font-weight: 700; 
   
 } 
.text-content h1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 29px;
    height: 4px;
    width: 40px;
    border-radius: 10px;
    background-color: #72b626;

    
    
}

.text-content p {
    margin: 15px 0 28px;
    font-size: 16px;
    line-height: 35px;
}


.button {
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none !important;
    border: 1px solid #72b626;
}

.button:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(0%);
    transition: .3s ease-out all;
    background-color: #72b626;
}
.button:hover::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(0%);
    transition: .3s ease-out all;
    background-color: #72b626;
}
.button:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
    transform: translateX(100%);
    transition: .3s ease-out all;
    background-color: #72b626;
}
.button .button-text {
    position: relative;
    z-index: 2;
    color: #fff;
    transition: .3s ease-out all;
}

.button .button-icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
    background: #72b626;
    text-align: center;
}
.hidden{
    display: none;
}
.title{
    padding: 100px 0;
    text-align: center;
    position: relative;
}
.containers{
    max-width: 1050px;
    margin:0 auto;
}

.img-about{
    display: none;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}


.title h1{
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.title h1 span{
    color: #72b626;
}
.title .resume {
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.07);
}


.info h3{
    line-height: 1.2;
    margin-bottom: 0!important;
    text-transform: uppercase!important;
    font-weight: 600;
    padding-bottom: 22px;
    font-size: 26px;

}

.about-list{
    padding-left: 0;
    list-style: none;
}
.infoss{
    display: flex;
    justify-content: space-evenly;
}

.right-sideif{
    margin-left: 50px;
}


.left-side-infos{
    display: flex;
    /* width: 50%; */
    justify-content: space-between;
    text-align: left;
    line-height: 50px;
    margin-bottom: 20px;
}

.mains {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 120px;
    height: 120px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 120px;
    height: 120px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 120px;
    height: 120px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 120px;
    height: 120px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: rgb(0, 120, 212);
  }
  
  .card4:hover .discord {
    fill: white;
  }


hr.separator {
    border-top: 1px solid #252525;
    margin: 70px auto 55px;
    max-width: 40%;
}
hr{
    border: 0;
}




.ski{
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    font-weight: 600;

}
.skills img{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 filter: drop-shadow(5px 5px 5px #000000);
}
.skills h6{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fondamento', cursive;
  
}
.skills-list{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    flex-wrap: wrap;
}
.skills-list1{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    flex-wrap: wrap;
}

.skillss{
    margin: 10px;
}
.skl{
    margin-bottom: 40px;
 width: 200px;
 height: 200px;
    border-radius:50%;
background: #12121200;

box-shadow: inset 17px 17px 34px #0d0d0d,
            inset -17px -17px 34px #171717;
            position: relative;
            filter: drop-shadow(22px 4px 6px #000000);
            transition: all .7s ease;

}


/* ex3ed */


.ed-ex{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 50px;

}

.both{
    display: flex;
}

.both .same ul{
    list-style: none;
}

.both .same li{
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 50px
}

.both .same .icons {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: #72b626;
}

.both .same .time {
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}



.both .same h5{
    font-size: 15px;
    margin: 7px 0 10px;
    text-transform: uppercase;
    font: 500;
    line-height: 1.2;
}
.both .same h5 span{
opacity: .8;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    padding-left: 26px;
}
.both .same .place:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 8px;
    opacity: .8;
}


.both .same li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    border-left: 1px solid #333;
}





.row-grid{
    display: flex;
    flex-wrap: wrap;
}
.row-grid li {
    width: 33.333%;
    list-style: none;
    padding: 15px;
}

.IMGG img{
    width: 100%;
scale: 110%;
}
.IMGG{
    overflow: hidden;
    border-radius: 10px;
position: relative;

}

.row-grid li:hover img{
    scale: 125%;    
    opacity: .7;
}
.row-grid li:hover .links{
    top: 70%;
}
.row-grid li:hover .project-name  {
    top: 40%;

}

.links{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
column-gap: 30px;    
}

.project-name {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    width: 100%;
    text-align: center;

}

.Btn {
    z-index: 9999;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  .svgContainer img{
    width: 20px;
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }
  

.cct{
    display: flex;
    flex-wrap: wrap;
}

.c-left{
    max-width: 33.333333%;
    flex:0 0 33.333333% ;
    padding-right: 15px;
    padding-left: 15px;

}
.c-left h3{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: white;
    padding-bottom: 16px;

}
.c-left p{
    font-weight: 300;
    color: white;
    padding-bottom: 23px;

}
.c-left .contactt{
    padding-left: 50px;
    position: relative;
}
.c-left .contactt{
    font-weight: 600;
}
.contactt i{
    position: absolute;
    left: 0;
    top: 10px;
}
.c-left p i{
    font-size: 33px;
    color: #72b626;
}

.c-left p span{
    display: block;
    text-transform: uppercase;
    opacity: .8;
    font-weight: 400;
}

.social-list{
    list-style: none;
    margin-left: -5px;
}
.social-list li{
    display: inline-block;
}
.social-list{
    margin-bottom: 3rem!important
}
.social-list li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    transition: .3s;
    font-size: 17px;
    margin: 0 6px;
    background: #2b2a2a;
    border-radius: 50%;
}
.social-list li a:hover{
    background-color: #72b626;
}

.c-right{
    max-width: 66.6666%;
    flex: 0 0 66.6666%;
    padding-right: 15px;
    padding-left: 15px;

}
.flexi{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
.wi{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.flexi input[type=text], .contact .contactform  {
    border: 1px solid #111;
    width: 100%;
    background: #252525;
    color: #fff;
    padding: 16px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
    font-size: 15px;
    text-transform: uppercase;

}
.flexi input[type=email]{
    border: 1px solid #111;
    width: 100%;
    background: #252525;
    color: #fff;
    padding: 16px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
    font-size: 15px;
    text-transform: uppercase;

}
.text-area {
    max-width: 100%;
    flex: 0 0 100% ;
    padding-right: 15px;
    padding-left: 15px;

}
.text-area  textarea {
    border: 1px solid #111;
    background: #252525;
    color: #fff;
    width: 100%;
    padding: 12px 26px;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
    font-size: 15px;
    text-transform: uppercase;
    height: 281px;
    resize: vertical;
}




@media (max-width:1250px) {
    .skl {
        margin-bottom: 40px;
        width: 130px;
        height: 130px;
    }
}
@media (max-width:1200px) {
    .text-content h1:before {
      display: none;
    }
    .text-content div h1,.context{
        padding: 0;
        font-size: 30px;
    }
    .text-content div .context{
        padding: 0;
        font-size: 30px;

    }
    .text-content div {
        max-width: 500px;
        margin: auto;
    }
    .text-content h2{
        color: #fff;
        font-weight: 700; 
        font-size: 32px;
       
     }
    
}

@media (max-width:1050px){
    .text-content div {
        max-width: 450px;
        margin: auto;
    }
    .containers {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media(max-width:1000px){


    body .color-block {
      display: none;
    }
    body .bg{
        display: none;
    }
    .text-content h2 {
        color: #fff;
        font-weight: 700;
        font-size: 25px;
        margin-left: 36px;
    }
 
    .main{
        padding: 30px;
    }
    .text-content {
        margin-left: 10.3333%;
        
    }
    .text-content img {
        border-radius: 50%;
        width: 270px;
        height: 270px;
        border: 4px solid #252525;
        margin: 0 auto 25px;
        display: block;
    }
    .text-content   {
        text-align: center;
        margin: 0;
    }
    .text-content div h1,.context{
        margin: 0;
        font-size: 25px;

}
    .text-content .context{
        margin: 0;
        font-size: 25px;

}
.row{
    height: 93vh;
    margin-left: 0;
}
header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(0vh - 0px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}
header{

    top: 96%;
    left: 0%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.infoss {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.left-side-infos {
    display: flex;
    text-align: left;
    line-height: 50px;
    margin-bottom: 20px;
}
.educate{
padding: 15px;
}
.row1{
    margin-bottom: 60px;
    padding: 2px;
}
.row2{
    margin: auto;
}
.title h1 {
    font-size: 40px;
}
.title .resume {
    font-size: 80px;
  
}
.both {
    display: flex;
    flex-direction: column;
}
.row-grid{
    margin-bottom: 11%;
}
.row-grid li {
    width: 50%;
   
}
.c-left {
    max-width: 100%;
    flex: 0 0 100%;
   
}
.c-right {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 13%;
   
}
.containers {
    max-width: 750px;
    margin: 0 auto;
}

}

@media (max-width:900px){
    header .icon-box:hover h2{

        display: none;
}
}


@media (max-width:850px){
    .skillss{
        margin: 25px;
    }
}
@media (max-width:650px){
    .skillss{
        margin: 45px;
    }
    .row1 {
        margin-bottom: 60px;
        padding: 16px;
    }
}
@media (max-width:850px){
    .containers {
        max-width: 630px;
        margin: 0 auto;
    }
    
}
@media (max-width:750px){
.wi{
    max-width: 100%;
    flex: 0 0 100%;
}
}
@media (max-width:600px){
    
    .text-content div h1 {
        margin: 0;
        font-size: 24px;
    }
    .text-content div .context {
        margin: 0;
        font-size: 24px;
    }
    .skillss{
        margin: 38px;
    }
}
@media (max-width:550px) {
    .text-content {
        text-align: left;
    }
    .text-content img{
        display: none;
    }
    .text-content div h1{
        font-size: 22px;
    }
    .text-content div .context{
        font-size: 22px;
    }
    .row{
        justify-content: start;
    }
    .text-content p {
       width: 150%;
    }
    .text-content h2 {
        
        margin-left: 0px;
    }
    .skillss{
        margin: 0px;
    }
    .containers {
        max-width: 490px;
        margin: 0 auto;
    }
    .title .resume {
display: none;    

}
.img-about{
    display: block;
    text-align: center;
}
.title {
    padding: 10px 0;
}
.cv{
    text-align: center;
}
.info h3 {
   
    font-size: 22px;
}
.img-about img{
    border-radius: 50%;
    width: 270px;
    height: 270px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
}
.row-grid li {
    width: 100%;
   
}
.c-right{
    margin-bottom: 20%
}
}
   
@media (max-width:500px) {
    .text-content div h1 {
        width: 135%;
    }    
    .typethis {
        width: 135%;
        
    }
}
@media (max-width:450px){
    .about-list li{
        text-align: center;
    }
    .left-side-infos{
        flex-direction: column;
    }
    .right-sideif{
        margin: 0;
    }
}
@media (max-width:400px){
    .text-content div h1 {
        width: 150%;
    }    
    .typethis {
        width: 150%;
        
    }
    .about-list li{
        line-height: 2;
    }
}
